
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/public/stylesheets/profile.css">  
</head>
  <body>
    <section>
        <div class="box1 box">
          <div class="content">
            <div class="image">
              <img src="https://i.postimg.cc/bryMmCQB/profile-image.jpg" alt="Profile Image">
            </div>
            <div class="level">
              <p>PRO</p>
            </div>
            <div class="text">
              <p class="name"><%=user.username%></p>
              <p class="username"><%= user.fullname%></p>
              <p class="job_title">Web Developer</p>
              <p class="job_discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam atque, ipsam a amet laboriosam eligendi.</p>
            </div>
            <div class="icons">
              <button>
                <ion-icon name="logo-dribbble"></ion-icon>
              </button>
              <button>
                <ion-icon name="logo-instagram"></ion-icon>
              </button>
              <button>
                <ion-icon name="logo-twitter"></ion-icon>
              </button>
              <button>
                <ion-icon name="logo-linkedin"></ion-icon>
              </button>
              <button>
                <ion-icon name="logo-facebook"></ion-icon>
              </button>
              <button>
                <ion-icon name="logo-behance"></ion-icon>
              </button>
            </div>
            <div class="button">
              <div>
                <button class="message" type="button">Message</button>
              </div>
              <div>
                <button class="connect" type="button">Connect</button>
              </div>
              <a href="/logout" class="button">Logout</a>
              <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="text" name="filecaption" placeholder="some caption ">
                <input type="file" name="file">
                <input type="submit">

              </form>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <div class="cards">
          <% user.posts.forEach(function(post){ %>
            <div class="card" style="width: 18rem;">
              <img src="/images/uploads/<%= post.image %>" alt="..." class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">All Designs</h5>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
      

      </div>
      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>













